--
-- PostgreSQL database dump
--

\restrict mAChbICddydgbaaOWqIgB6WkMib1TlNrRAEtLjuw3c9tZ4WxDRQfcAYZ62pqcp7

-- Dumped from database version 17.10 (Debian 17.10-1.pgdg13+1)
-- Dumped by pg_dump version 17.10 (Debian 17.10-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.routines DROP CONSTRAINT IF EXISTS routines_persona_id_fkey;
ALTER TABLE IF EXISTS ONLY public.registered_devices DROP CONSTRAINT IF EXISTS registered_devices_persona_id_fkey;
ALTER TABLE IF EXISTS ONLY public.personas DROP CONSTRAINT IF EXISTS personas_archetype_id_fkey;
ALTER TABLE IF EXISTS ONLY public.lifestyles DROP CONSTRAINT IF EXISTS lifestyles_persona_id_fkey;
ALTER TABLE IF EXISTS ONLY public.behavior_profiles DROP CONSTRAINT IF EXISTS behavior_profiles_persona_id_fkey;
DROP INDEX IF EXISTS public.idx_routines_activities;
DROP INDEX IF EXISTS public.idx_personas_occupation;
DROP INDEX IF EXISTS public.idx_personas_country;
DROP INDEX IF EXISTS public.idx_personas_city;
DROP INDEX IF EXISTS public.idx_personas_archetype;
DROP INDEX IF EXISTS public.idx_lifestyles_hobbies;
ALTER TABLE IF EXISTS ONLY public.routines DROP CONSTRAINT IF EXISTS routines_pkey;
ALTER TABLE IF EXISTS ONLY public.registered_devices DROP CONSTRAINT IF EXISTS registered_devices_pkey;
ALTER TABLE IF EXISTS ONLY public.personas DROP CONSTRAINT IF EXISTS personas_pkey;
ALTER TABLE IF EXISTS ONLY public.lifestyles DROP CONSTRAINT IF EXISTS lifestyles_pkey;
ALTER TABLE IF EXISTS ONLY public.behavior_profiles DROP CONSTRAINT IF EXISTS behavior_profiles_pkey;
ALTER TABLE IF EXISTS ONLY public.archetypes DROP CONSTRAINT IF EXISTS archetypes_pkey;
DROP TABLE IF EXISTS public.routines;
DROP TABLE IF EXISTS public.registered_devices;
DROP TABLE IF EXISTS public.personas;
DROP TABLE IF EXISTS public.lifestyles;
DROP TABLE IF EXISTS public.behavior_profiles;
DROP TABLE IF EXISTS public.archetypes;
DROP EXTENSION IF EXISTS pgcrypto;
--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: archetypes; Type: TABLE; Schema: public; Owner: hts_user
--

CREATE TABLE public.archetypes (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    description text NOT NULL,
    age_min integer NOT NULL,
    age_max integer NOT NULL,
    common_occupations jsonb NOT NULL,
    lifestyle_summary text NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.archetypes OWNER TO hts_user;

--
-- Name: behavior_profiles; Type: TABLE; Schema: public; Owner: hts_user
--

CREATE TABLE public.behavior_profiles (
    persona_id uuid NOT NULL,
    weekday_work_probability numeric(5,4),
    weekend_work_probability numeric(5,4),
    exercise_probability numeric(5,4),
    social_probability numeric(5,4),
    travel_probability numeric(5,4),
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.behavior_profiles OWNER TO hts_user;

--
-- Name: lifestyles; Type: TABLE; Schema: public; Owner: hts_user
--

CREATE TABLE public.lifestyles (
    persona_id uuid NOT NULL,
    relationship_status text,
    hobbies jsonb NOT NULL,
    social_activity_level text,
    fitness_level text,
    chronotype text,
    work_style text,
    travel_frequency text,
    exercise_probability numeric(5,4),
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.lifestyles OWNER TO hts_user;

--
-- Name: personas; Type: TABLE; Schema: public; Owner: hts_user
--

CREATE TABLE public.personas (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    archetype_id uuid NOT NULL,
    first_name text NOT NULL,
    last_name text NOT NULL,
    age integer NOT NULL,
    occupation text NOT NULL,
    city text NOT NULL,
    country text NOT NULL,
    generation_version text DEFAULT 'v1'::text NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.personas OWNER TO hts_user;

--
-- Name: registered_devices; Type: TABLE; Schema: public; Owner: hts_user
--

CREATE TABLE public.registered_devices (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    persona_id uuid NOT NULL,
    device_name text NOT NULL,
    device_type text NOT NULL,
    protocol text NOT NULL,
    connection_address text,
    mac_address text,
    manufacturer text,
    model text,
    operating_system text,
    first_seen timestamp without time zone,
    last_seen timestamp without time zone,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.registered_devices OWNER TO hts_user;

--
-- Name: routines; Type: TABLE; Schema: public; Owner: hts_user
--

CREATE TABLE public.routines (
    persona_id uuid NOT NULL,
    weekday_wake_time time without time zone NOT NULL,
    weekday_sleep_time time without time zone NOT NULL,
    weekend_wake_time time without time zone NOT NULL,
    weekend_sleep_time time without time zone NOT NULL,
    activities jsonb NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.routines OWNER TO hts_user;

--
-- Data for Name: archetypes; Type: TABLE DATA; Schema: public; Owner: hts_user
--



--
-- Data for Name: behavior_profiles; Type: TABLE DATA; Schema: public; Owner: hts_user
--



--
-- Data for Name: lifestyles; Type: TABLE DATA; Schema: public; Owner: hts_user
--



--
-- Data for Name: personas; Type: TABLE DATA; Schema: public; Owner: hts_user
--



--
-- Data for Name: registered_devices; Type: TABLE DATA; Schema: public; Owner: hts_user
--



--
-- Data for Name: routines; Type: TABLE DATA; Schema: public; Owner: hts_user
--



--
-- Name: archetypes archetypes_pkey; Type: CONSTRAINT; Schema: public; Owner: hts_user
--

ALTER TABLE ONLY public.archetypes
    ADD CONSTRAINT archetypes_pkey PRIMARY KEY (id);


--
-- Name: behavior_profiles behavior_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: hts_user
--

ALTER TABLE ONLY public.behavior_profiles
    ADD CONSTRAINT behavior_profiles_pkey PRIMARY KEY (persona_id);


--
-- Name: lifestyles lifestyles_pkey; Type: CONSTRAINT; Schema: public; Owner: hts_user
--

ALTER TABLE ONLY public.lifestyles
    ADD CONSTRAINT lifestyles_pkey PRIMARY KEY (persona_id);


--
-- Name: personas personas_pkey; Type: CONSTRAINT; Schema: public; Owner: hts_user
--

ALTER TABLE ONLY public.personas
    ADD CONSTRAINT personas_pkey PRIMARY KEY (id);


--
-- Name: registered_devices registered_devices_pkey; Type: CONSTRAINT; Schema: public; Owner: hts_user
--

ALTER TABLE ONLY public.registered_devices
    ADD CONSTRAINT registered_devices_pkey PRIMARY KEY (id);


--
-- Name: routines routines_pkey; Type: CONSTRAINT; Schema: public; Owner: hts_user
--

ALTER TABLE ONLY public.routines
    ADD CONSTRAINT routines_pkey PRIMARY KEY (persona_id);


--
-- Name: idx_lifestyles_hobbies; Type: INDEX; Schema: public; Owner: hts_user
--

CREATE INDEX idx_lifestyles_hobbies ON public.lifestyles USING gin (hobbies);


--
-- Name: idx_personas_archetype; Type: INDEX; Schema: public; Owner: hts_user
--

CREATE INDEX idx_personas_archetype ON public.personas USING btree (archetype_id);


--
-- Name: idx_personas_city; Type: INDEX; Schema: public; Owner: hts_user
--

CREATE INDEX idx_personas_city ON public.personas USING btree (city);


--
-- Name: idx_personas_country; Type: INDEX; Schema: public; Owner: hts_user
--

CREATE INDEX idx_personas_country ON public.personas USING btree (country);


--
-- Name: idx_personas_occupation; Type: INDEX; Schema: public; Owner: hts_user
--

CREATE INDEX idx_personas_occupation ON public.personas USING btree (occupation);


--
-- Name: idx_routines_activities; Type: INDEX; Schema: public; Owner: hts_user
--

CREATE INDEX idx_routines_activities ON public.routines USING gin (activities);


--
-- Name: behavior_profiles behavior_profiles_persona_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: hts_user
--

ALTER TABLE ONLY public.behavior_profiles
    ADD CONSTRAINT behavior_profiles_persona_id_fkey FOREIGN KEY (persona_id) REFERENCES public.personas(id) ON DELETE CASCADE;


--
-- Name: lifestyles lifestyles_persona_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: hts_user
--

ALTER TABLE ONLY public.lifestyles
    ADD CONSTRAINT lifestyles_persona_id_fkey FOREIGN KEY (persona_id) REFERENCES public.personas(id) ON DELETE CASCADE;


--
-- Name: personas personas_archetype_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: hts_user
--

ALTER TABLE ONLY public.personas
    ADD CONSTRAINT personas_archetype_id_fkey FOREIGN KEY (archetype_id) REFERENCES public.archetypes(id) ON DELETE CASCADE;


--
-- Name: registered_devices registered_devices_persona_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: hts_user
--

ALTER TABLE ONLY public.registered_devices
    ADD CONSTRAINT registered_devices_persona_id_fkey FOREIGN KEY (persona_id) REFERENCES public.personas(id) ON DELETE CASCADE;


--
-- Name: routines routines_persona_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: hts_user
--

ALTER TABLE ONLY public.routines
    ADD CONSTRAINT routines_persona_id_fkey FOREIGN KEY (persona_id) REFERENCES public.personas(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict mAChbICddydgbaaOWqIgB6WkMib1TlNrRAEtLjuw3c9tZ4WxDRQfcAYZ62pqcp7

